<div class="login">
    
    <h2 class="text-center m-5">Login Page</h2>
    <login-form (formSubmitted)="checkUser($event)"></login-form>
    <!-- The login-form here is from login-form.components -->

    <!-- Old Embedded Form (most likely won't need) -->
    <!-- <form class="login-form" autocomplete="off" [formGroup]="userForm" (ngSubmit)="submitForm()">
            <div class="form-floating mb-3">
              <input class="form-control" type="text" id="username" formControlName="username" placeholder="Username" required>
              <label for="username">Username</label>
            </div>

      
            <div class="form-floating mb-3">
              <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>
      

    
        <button class="btn btn-primary" type="submit">Add</button>
    </form> -->
   
</div>