<div class="navbar">
    <div class="mainButtons">
    <button [routerLink]="['login/']">Login</button>
    </div>
    <div class="mainButtons">
    <button [routerLink]="['register/']">Register</button>
    </div>
    <div class="drop">
        <div class="mainButtons">
        <button class="dropbtn">View Standings</button>
        </div>
            <div class="drop-content">
                <button [routerLink]="['nhlstandings/']" class="dropitem">NHL Standings</button>
                <button [routerLink]="['ahlstandings/']" class="dropitem">AHL Standings</button>
            </div>
    </div>

        <div class="drop">
            <div class="mainButtons">
            <button class="dropbtn">View Games</button>
        </div>
                <div class="drop-content">
                    <button [routerLink]="['nhlgames/']" class="dropitem">NHL Games</button>
                    <button [routerLink]="['ahlgames/']" class="dropitem">AHL Games</button>
                </div>
        </div>
</div>


<!--comment ignore -->