.navbar{
    background: rgb(149, 189, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    /*display:flex;*/
    width: 75%;
    margin: 0 auto;
    text-align: center;
    /*flex-direction:row;*/
    border:solid;
    border-width: 3px;
    border-color:rgb(30, 30, 30);
    border-radius: 25px;
}

.mainButtons:hover button{
    color:white
}
.mainButtons button{
    transition-duration: 0.2s;

    border: none;
    border-width: 0px;

    border-color: black;
    border-style:solid;
    background-color:transparent;
    font-size:1.5rem;
    color: black;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: bolder;
}

.navbar img{
    height: 5rem;
    width: 5rem;
}

.dropbtn{
    text-align: center;
 }
 
 
 .drop-content{
    display: none;
    position: absolute;
    text-align: left;
    z-index: 1;
    border: 2px;
}

.drop-content button{    /*Writing inside of the drop down buttons Eg. "Change font style of the words NHL Standings"*/
    border-width: 2px;
    border-color: black;
    border: solid;
    display:flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

 .drop{     /*"View standings" position for example*/
     position: relative;
     display: inline-block;
 }
 
 .dropitem {        /*Background/styling of the dropdown menus, eg. NHL Standings background color*/
    border: 2px;
    background-color: rgba(181, 207, 249, 0.95);
    border-radius: 15px;
 }
 
 .drop-content {  /*Does nothing of note....?*/
    color: #f1f1f1;
}

.dropitem:hover {       /*Drop down buttons outlines. Eg. "NHL Standings" is now outlined in the same color as given below*/
    transition-duration: 0.2s;
    font-weight: bold;
    transform: scale(1.2) perspective(1px);
    color: black;
}
 
 .drop .drop-content {       /*Structure of the words inside drop downs. Eg. Stack words ontop of one another*/
    display: block;
}