<h2 class="text-center m-5">Team List</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Sport</th>
            <th>Team Name</th>
            <th>Follow</th>
        </tr>
    </thead>

    <tbody>
        <!-- <tr *ngFor="let team of teams$ | async">
            <td>{{team.sport}}</td>
            <td>{{team.teamName}}</td>
            <td>
                <button class="btn btn-primary mt-3" (click)="followTeam(team._id || '')">Follow</button>
            </td>
        </tr> -->
    </tbody>
</table>